<!DOCTYPE html> 
<html>
    <head>
        <title>Sketch Synthesis</title>
    </head>
    <body>
    <div id="box" align="center">
        <form id="uploadForm" enctype="multipart/form-data" >
            <input type="file" accept="image/*" name="file">
            <input type="button" value="上传" id="upFileBtn">
        </form>
    </div>
    <style type="text/css">
        img{max-width:100%;} 
    </style>
    <div align="center">
        <img id="resImg">
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script>
        let resImg = document.getElementById('resImg');
        $('#upFileBtn').click(function () {
            let formFile = new FormData($('#uploadForm')[0])
            let tmStart = (new Date()).getTime(); 
		     $.ajax({
                url: "/img_upload",
                type: "POST",
                data: formFile,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(`recv: ${(new Date()).getTime()-tmStart}`);
                    resImg.setAttribute('src', data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.error(`${XMLHttpRequest.status},${XMLHttpRequest.readyState},${textStatus}`);
                }
             })
        })
    </script>

    </body>
</html>
<!-- <!DOCTYPE html>
<div>
    <input type="file" accept="image/*" capture="camera">
    <input type="file" accept="video/*" capture="camcorder">
    <input type="file" accept="audio/*" capture="microphone">
</div>
</html> -->