<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sketch Synthesis</title>
</head>
<body>   
    <h1>Sketch Synthesis</h1>
    <a href="/click">click webcam</a> <br/>
    <a href="/auto">autoplay webcam</a> <br/>
    <a href="server">get camera stream from sever</a> <br/>
    <a href="/upload">upload image to server</a> <br/>
    <a href="/mobile">for mobile</a> <br/>
</body>
</html>